.main
	.poker
		.poker-blocks
			.poker-block.block-left
				h2 Входной взнос
				.poker-desk
					.poker-desk__image
						img(src="./img/logo-chip.svg", alt="")
					.poker-desk__info
						span 5/10
						span ФЛ Холдем
				.poker-money
					p Доступно средств: 
						span.js-money 2609 
					.range-slider
						input(type="text", name="").input.field
						.r-slider
							span.r-slider__btn.r-slider__minus.js-minus
							include ../../components/range-slider/range-slider
							span.r-slider__btn.r-slider__plus.js-plus
					.range-btns
						+btn( 'Min' )(class="js-min")
						+btn( 'Max' )(class="js-max")
						+btn( 'Bank' ) 
						+btn( '1/2 Bank' )(class="js-half")
				p Ваш входной взнос не может быть меньше суммы, с которой вы покинули данный стол. Нажмите кнопку ОК, чтобы продолжить, или подождите, когда пройдет время ограничения.
				.quick-entry
					+btn( 'Быстрая посадка и автодокупка' )
			.poker-block.block-right
				.checkboxes-block
					.checkbox
						label
							input(type="checkbox", name="check")
							span
							p Быстрая посадка
						.checkbox-info
					.checkbox-input
						p Автоматически<br>ставить на стол:
						input.input(type="text")
						span ББ
				.checkboxes-block
					.checkbox
						label
							input(type="checkbox", name="check")
							span
							p Автодокупка
						.checkbox-info
					p Я хочу пользоваться функцией<br>автоматической докупки и понимаю, что она будет автоматически пополнять мой счет для обеспечения заданого номера стека.
					.checkbox-input
						p Если у меня меньше:
						input.input(type="text")
						span ББ
					.checkbox-input
						p Автоматически докупать до:
						input.input(type="text")
						span ББ
				.checkboxes-block
					.checkbox.text-small
						label
							input(type="checkbox", name="check")
							span
							p Сохранить настройки после<br>выхода из приложения
						.checkbox-info
		.poker-btns
			+btn( 'Ok' )
			+btn( 'Cashier' )
			+btn( 'Cancel' )
