.main
	.container
		.table
			.table-top
				.table-top__block
					span Имя
					include ../../components/input/input
				.table-top__block
					label Онлайн
						input(type="checkbox")
				.table-top__block
					+btn("Показать всех")
			.table-main
				table
					thead
						tr
							td 
							td 
							td 
							td 
					tbody
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td
						tr
							td
							td
							td
							td