.modal
	p Player 1
	.modal-info
		span Онлайн
		.rating
			include ../star/star
			include ../star/star
			include ../star/star
			include ../star/star
			include ../star/star
		+btn("ЗАКРЫТЬ")(class="close-btn")